<div class="kpx-wrap">

  <div class="kpx-bar"><b>KOMPRE</b> &nbsp;|&nbsp; Business Hardware</div>

  <div class="kpx-top">
    <ul class="kpx-benefits">
      <li>Gepr&uuml;fte Hardware</li>
      <li>Rechnung mit ausgewiesener MwSt.</li>
      <li>12 Monate Garantie</li>
      <li>1 Monat R&uuml;ckgaberecht</li>
    </ul>
  </div>

{{main_image_block}}

  <div class="kpx-keys">
    <div class="kpx-key"><i>Prozessor</i><b>{{processor}}</b></div>
    <div class="kpx-key"><i>RAM</i><b>{{ram}}</b></div>
    <div class="kpx-key"><i>Speicher</i><b>{{disk}} {{disk_type}}</b></div>
    <div class="kpx-key"><i>Display</i><b>{{screen_size}} {{screen_finish}}</b></div>
    <div class="kpx-key"><i>System</i><b>{{operating_system}}</b></div>
  </div>


  <div class="kpx-sec">
    <h2 class="kpx-h2"><span>Zustand</span></h2>
    <div class="kpx-badge">Gepr&uuml;ft und aufbereitet</div>
    <p>{{condition_summary}}</p>
    <table class="kpx-zt">
      <tbody>
        <tr><th>Technisch</th><td>Vollst&auml;ndig funktionsf&auml;hig. Alle Funktionen einzeln gepr&uuml;ft.</td></tr>
        <tr><th>Geh&auml;use</th><td>{{case_condition}}</td></tr>
        <tr><th>Display</th><td>{{screen_condition}}</td></tr>
        <tr><th>Akku</th><td>{{battery}}</td></tr>
{{hinweis_row}}
      </tbody>
    </table>
  </div>


  <div class="kpx-sec">
    <h2 class="kpx-h2"><span>Zum Ger&auml;t</span></h2>
    <p>{{lead}}</p>
    <p>Das {{manufacturer}} {{model}} ist ein gebrauchtes Business-{{typ}} aus Leasingr&uuml;cklauf. Diese Ger&auml;teklasse ist f&uuml;r den t&auml;glichen Einsatz im B&uuml;ro gebaut: stabiles Geh&auml;use, angenehme Tastatur und zuverl&auml;ssige Technik &uuml;ber viele Jahre.</p>
    <p>Ausgestattet ist dieses Exemplar mit {{processor}}, {{ram}} Arbeitsspeicher und {{disk}} {{disk_type}}. Das Display misst {{screen_size}} bei {{resolution}}. Als Betriebssystem ist {{operating_system}} installiert und aktiviert.</p>
  </div>

  <div class="kpx-sec">
    <h2 class="kpx-h2"><span>Technische Daten</span></h2>
    <table class="kpx-table">
      <tbody>
{{spec_rows}}
      </tbody>
    </table>
  </div>

  <div class="kpx-sec">
    <h2 class="kpx-h2"><span>Anschl&uuml;sse</span></h2>
    <ul class="kpx-ports">{{port_items}}</ul>
  </div>

  <div class="kpx-sec">
    <h2 class="kpx-h2"><span>So bereiten wir jedes Ger&auml;t auf</span></h2>
    <p>Bevor ein Ger&auml;t unser Lager verl&auml;sst, durchl&auml;uft es sechs feste Stationen. Erst wenn jede davon abgehakt ist, wird es eingestellt.</p>
    <ol class="kpx-steps">
      <li><div><b>Eingangskontrolle</b><span>Jedes Ger&auml;t wird einzeln erfasst, auf Vollst&auml;ndigkeit gepr&uuml;ft und einer Zustandsklasse zugeordnet.</span></div></li>
      <li><div><b>Technische Funktionspr&uuml;fung</b><span>Prozessor, Arbeitsspeicher und Datentr&auml;ger werden unter Last getestet, die SMART-Werte des Datentr&auml;gers ausgelesen.</span></div></li>
      <li><div><b>Sichere Datenl&ouml;schung</b><span>Der Datentr&auml;ger wird vollst&auml;ndig gel&ouml;scht, das BIOS zur&uuml;ckgesetzt und von Firmenrichtlinien befreit.</span></div></li>
      <li><div><b>Reinigung</b><span>Geh&auml;use, Tastatur, Touchpad und Display werden gr&uuml;ndlich gereinigt, L&uuml;fter und Anschl&uuml;sse entstaubt.</span></div></li>
      <li><div><b>Systeminstallation</b><span>Das Betriebssystem wird neu installiert, aktiviert und mit aktuellen Treibern eingerichtet.</span></div></li>
      <li><div><b>Abschlusstest</b><span>Display, Tastatur, Touchpad, Kamera, Lautsprecher, WLAN und alle Anschl&uuml;sse werden einzeln gepr&uuml;ft.</span></div></li>
    </ol>
  </div>

  <div class="kpx-sec kpx-faq">
    <h2 class="kpx-h2"><span>Sie gehen kein Risiko ein</span></h2>
    <details>
      <summary>12 Monate Garantie auf jedes Ger&auml;t</summary>
      <div class="kpx-a">Die Garantie gilt ab Erhalt der Ware. Sollte ein Defekt auftreten, sorgen wir f&uuml;r eine schnelle Garantieabwicklung und helfen bei der L&ouml;sung des Problems.</div>
    </details>
    <details>
      <summary>1 Monat R&uuml;ckgaberecht</summary>
      <div class="kpx-a">Sie k&ouml;nnen den Artikel innerhalb eines Monats ohne Angabe von Gr&uuml;nden &uuml;ber den R&uuml;ckgabeprozess von eBay zur&uuml;ckgeben. Nach Eingang der R&uuml;cksendung erstatten wir den vollen Warenwert des Artikels.</div>
    </details>
    <details>
      <summary>Rechnung mit ausgewiesener Mehrwertsteuer</summary>
      <div class="kpx-a">Der angezeigte Preis enth&auml;lt die deutsche Mehrwertsteuer von 19&nbsp;%. Jeder Lieferung liegt eine Rechnung mit ausgewiesener Mehrwertsteuer bei. Unternehmen mit g&uuml;ltiger USt-IdNr. k&ouml;nnen die Ware als innergemeinschaftliche Lieferung ohne Mehrwertsteuer erhalten.</div>
    </details>
  </div>

  <div class="kpx-sec kpx-faq">
    <h2 class="kpx-h2"><span>H&auml;ufige Fragen</span></h2>
{{faq_system}}
    <details>
      <summary>Welches Tastaturlayout hat das Ger&auml;t?</summary>
      <div class="kpx-a">Die Tastatur ist QWERTY/QWERTZ und mit deutschen Tastaturaufklebern f&uuml;r den deutschen Markt angepasst.</div>
    </details>
    <details>
      <summary>Kann ich Arbeitsspeicher oder SSD sp&auml;ter erweitern?</summary>
      <div class="kpx-a">Die Erweiterungsm&ouml;glichkeiten h&auml;ngen vom jeweiligen Modell und seiner Konfiguration ab.</div>
    </details>
    <details>
      <summary>Waren Daten des Vorbesitzers auf dem Ger&auml;t?</summary>
      <div class="kpx-a">Nein. Der Datentr&auml;ger wurde vollst&auml;ndig gel&ouml;scht und das Betriebssystem neu installiert. Es befinden sich keine Daten, Konten oder Firmenrichtlinien des Vorbesitzers mehr auf dem Ger&auml;t, das BIOS ist ohne Passwortsperre.</div>
    </details>
    <details>
      <summary>Woher stammen die Ger&auml;te?</summary>
      <div class="kpx-a">Es handelt sich um Leasingr&uuml;ckl&auml;ufer, Ausstellungsst&uuml;cke und Retouren, die wir von autorisierten Distributoren beziehen. Jedes Ger&auml;t wird von uns gepr&uuml;ft, getestet und mit Garantie angeboten.</div>
    </details>
  </div>

  <div class="kpx-sec">
    <h2 class="kpx-h2"><span>Wer wir sind</span></h2>
    <div class="kpx-row">
      <div>
        <p>Seit {{company_since}} ist KOMPRE auf Business-Hardware aus Leasingr&uuml;cklauf spezialisiert. In unseren Lagern in Polen pr&uuml;fen, reinigen und konfigurieren wir Notebooks, Desktop-Computer und Monitore f&uuml;r den weiteren Einsatz.</p>
      </div>
      <div>
        <img src="https://kompre.pl/userdata/public/assets//kompre_sklep.jpg" alt="KOMPRE Ladengesch&auml;ft">
      </div>
    </div>
    <div class="kpx-row">
      <div>
        <img src="https://kompre.pl/userdata/public/assets//kompre%20magazyn.jpg" alt="KOMPRE Lager">
      </div>
      <div>
        <p>Jeden Tag gehen tausende Ger&auml;te durch unsere H&auml;nde. Zu unseren Kunden z&auml;hlen Schulen, Beh&ouml;rden, mittlere und gro&szlig;e Unternehmen sowie Privatkunden aus ganz Europa.</p>
      </div>
    </div>
  </div>

</div>
