<div class="kpx-wrap">

  <div class="kpx-bar"><b>KOMPRE</b> &nbsp;|&nbsp; Neuware</div>

  <div class="kpx-top">
    <ul class="kpx-benefits">
      <li>Neu und ungebraucht</li>
      <li>Rechnung mit ausgewiesener MwSt.</li>
      <li>{{garantie}}</li>
      <li>1 Monat R&uuml;ckgaberecht</li>
    </ul>
  </div>

{{main_image_block}}

  <div class="kpx-keys">
    <div class="kpx-key"><i>Prozessor</i><b>{{processor}}</b></div>
    <div class="kpx-key"><i>Grafik</i><b>{{gpu}}</b></div>
    <div class="kpx-key"><i>RAM</i><b>{{ram}}</b></div>
    <div class="kpx-key"><i>Speicher</i><b>{{disk}} {{disk_type}}</b></div>
    <div class="kpx-key"><i>System</i><b>{{operating_system}}</b></div>
  </div>


  <div class="kpx-sec">
    <h2 class="kpx-h2"><span>Zustand</span></h2>
    <div class="kpx-badge">Neuware</div>
    <p>{{condition_summary}}</p>
    <table class="kpx-zt">
      <tbody>
        <tr><th>Geh&auml;use</th><td>{{case_condition}}</td></tr>
        <tr><th>Bauform</th><td>{{formfaktor}}</td></tr>
        <tr><th>Lieferumfang</th><td>{{included}}</td></tr>
{{hinweis_row}}
      </tbody>
    </table>
  </div>


  <div class="kpx-sec">
    <h2 class="kpx-h2"><span>Zum Ger&auml;t</span></h2>
    <p>{{lead}}</p>
    <p>Dieser Rechner ist ein neu aufgebauter Desktop-PC. Er wurde aus fabrikneuen
    Komponenten zusammengestellt und ist kein Leasingr&uuml;ckl&auml;ufer und kein
    general&uuml;berholtes Ger&auml;t.</p>
    <p>Ausgestattet ist er mit {{processor}}, {{gpu}}, {{ram}} Arbeitsspeicher und
    {{disk}} {{disk_type}}. Als Betriebssystem ist {{operating_system}} installiert
    und aktiviert.</p>
  </div>

  <div class="kpx-sec">
    <h2 class="kpx-h2"><span>Technische Daten</span></h2>
    <table class="kpx-table">
      <tbody>
{{spec_rows}}
      </tbody>
    </table>
  </div>

  <div class="kpx-sec">
    <h2 class="kpx-h2"><span>Anschl&uuml;sse</span></h2>
    <ul class="kpx-ports">{{port_items}}</ul>
  </div>

  <div class="kpx-sec kpx-faq">
    <h2 class="kpx-h2"><span>Sie gehen kein Risiko ein</span></h2>
    <details>
      <summary>{{garantie}}</summary>
      <div class="kpx-a">Die Garantie gilt ab Erhalt der Ware. Sollte ein Defekt auftreten, sorgen wir f&uuml;r eine schnelle Garantieabwicklung und helfen bei der L&ouml;sung des Problems.</div>
    </details>
    <details>
      <summary>1 Monat R&uuml;ckgaberecht</summary>
      <div class="kpx-a">Sie k&ouml;nnen den Artikel innerhalb eines Monats ohne Angabe von Gr&uuml;nden &uuml;ber den R&uuml;ckgabeprozess von eBay zur&uuml;ckgeben. Nach Eingang der R&uuml;cksendung erstatten wir den vollen Warenwert des Artikels.</div>
    </details>
    <details>
      <summary>Rechnung mit ausgewiesener Mehrwertsteuer</summary>
      <div class="kpx-a">Der angezeigte Preis enth&auml;lt die deutsche Mehrwertsteuer von 19&nbsp;%. Jeder Lieferung liegt eine Rechnung mit ausgewiesener Mehrwertsteuer bei. Unternehmen mit g&uuml;ltiger USt-IdNr. k&ouml;nnen die Ware als innergemeinschaftliche Lieferung ohne Mehrwertsteuer erhalten.</div>
    </details>
  </div>

  <div class="kpx-sec kpx-faq">
    <h2 class="kpx-h2"><span>H&auml;ufige Fragen</span></h2>
{{faq_system}}
    <details>
      <summary>Sind Monitor, Tastatur und Maus dabei?</summary>
      <div class="kpx-a">Nein. Geliefert wird ausschlie&szlig;lich der Rechner. Was dem Ger&auml;t sonst noch beiliegt, steht oben in der Zeile Lieferumfang.</div>
    </details>
    <details>
      <summary>Kann ich Arbeitsspeicher, Datentr&auml;ger oder Grafikkarte sp&auml;ter erweitern?</summary>
      <div class="kpx-a">In der Regel ja. Der Rechner ist in einem Standardgeh&auml;use aufgebaut, die Steckpl&auml;tze sind zug&auml;nglich. Wie viel Platz und welche Reserven das Netzteil bietet, h&auml;ngt von der konkreten Konfiguration ab. Fragen Sie uns vor dem Kauf, wenn es Ihnen darauf ankommt.</div>
    </details>
    <details>
      <summary>Ist der Rechner einsatzbereit?</summary>
      <div class="kpx-a">Ja. Das Betriebssystem ist installiert und aktiviert. Sie schlie&szlig;en Monitor, Tastatur und Maus an und k&ouml;nnen sofort loslegen.</div>
    </details>
  </div>

  <div class="kpx-sec">
    <h2 class="kpx-h2"><span>Wer wir sind</span></h2>
    <div class="kpx-row">
      <div>
        <p>Seit {{company_since}} ist KOMPRE auf Business-Hardware spezialisiert. In unseren Lagern in Polen pr&uuml;fen, konfigurieren und versenden wir Notebooks, Desktop-Computer und Monitore &ndash; sowohl neue Ger&auml;te als auch gepr&uuml;fte Gebrauchtware.</p>
      </div>
      <div>
        <img src="https://kompre.pl/userdata/public/assets//kompre_sklep.jpg" alt="KOMPRE Ladengesch&auml;ft">
      </div>
    </div>
    <div class="kpx-row">
      <div>
        <img src="https://kompre.pl/userdata/public/assets//kompre%20magazyn.jpg" alt="KOMPRE Lager">
      </div>
      <div>
        <p>Jeden Tag gehen tausende Ger&auml;te durch unsere H&auml;nde. Zu unseren Kunden z&auml;hlen Schulen, Beh&ouml;rden, mittlere und gro&szlig;e Unternehmen sowie Privatkunden aus ganz Europa.</p>
      </div>
    </div>
  </div>

</div>
